/* CSS DOCUMENT*/

a {
    text-decoration: none;
}

.mainmenu {
    float: right;
    max-width: 43em;
}

.mainmenu a {
    color: rgb(0, 180, 300);
}

.mainmenu ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    float: right;
    margin-right: 1em;
    border: solid;
    border-color: rgb(0, 200, 300);
}

.mainmenu li {
    padding-left: 1.62em;
    padding-right: 1.62em;
    font-family: monospace;
    font-size: 1.8em;
    text-transform: uppercase;
    display: inline;
}

.header,
.mainmenu {
    clear: both;
}

.header {
    background-color: rgb(0, 200, 300);
    float: left;
    width: 25%;
}

.header img {
    width: 100%;
}

div.footer {
    background-color: rgb(0, 200, 300);
    float: left;
    width: 100%;
}

.footer p {
    margin-left: 2em;
}

.header p {
    text-align: center;
    font-style: italic;
    font-size: 1em;
}

.menu {
    float: left;
    width: 100%;
}

.menu h1{
    margin-left: 1em
}

.menu ul {
    list-style-type: none;
    background-color: rgb(240, 240, 240);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 4em;
    padding-left: 4em;
}

.menu li {
    text-align: center;
    border: solid;
    padding-left: 4em;
    padding-right: 4em;
}

.menu p {
    text-align: center;
}

div.contact img {
    width: 20%;
}

.barber img {
    width: 45%;
    margin: auto;
}

.barber li {
    margin: 2em;
    list-style-type: none;
    text-align: center;
}

@media only screen and (min-width: 60em) {
    div.barber li {
        float: left;
        width: 40%
    }
}

.intro {
    margin-left: 7em;
    margin-right: 7em;
    margin-bottom: 4em;
}

.intro p {
    color: rgb(300, 300, 300);
    text-align: center;
}

h1 {
    color: rgb(300, 300, 300);
    text-align: center;
}

.barber h2 {
    color: rgb(300, 300, 300);
}

.barber p {
    color: rgb(300, 300, 300);
}

.barber ul {
    margin: auto;
}

h3 {
    color: rgb(300, 300, 300);
}

.intro img {
    width: 100%;
}

.barber {
    float: left;
    margin: auto;
}

.contact {
    text-align: center;
    width: 30em;
    margin: auto;
    padding: 1em;
    clear: both;
}

.contact h2 {
    color: rgb(300, 300, 300);
}

.contact p {
    color: rgb(300, 300, 300);
}